@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.container-main {
  min-height: 75vh;
}